section .back{
    width: 100%;
    position:absolute ;
    top: 25%;
    left: 47%;
    margin-left: 25px;
}

.text{
    font-size: larger;
}
body{
    background-image: url(image/background_image.webp);
}
section header{
    align-items: center;
}
section header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
}
#indeximg{
    height: 100px;
    width: 100px;
    position: absolute;
    justify-content: right;
}
section header .logo{
    font-size: 30px;
    color: black;
    text-decoration: none;
    font-weight: bold;
    margin: 15px 0;
}

section header .logo span{
    color: #4bb1eb;
}

section header ul{
    list-style: none;
}

section header ul li{
    display: inline-block;
    margin: 5px 5px;
    padding: 5px 20px;
}

section header ul li a{
    color: black;
    text-decoration: none;
}

section header ul li a:hover{
    color: #353334;
}

section header p{
    cursor: pointer;
    padding: 10px 25px;
    border: 1px solid #4bb1eb;
    border-radius: 30px;
    transition: 0.3s;
}

section header p:hover{
    color: white;
    background: #4bb1eb;
}

h1 {
    size: 60px;
    

}
.footer_col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer_col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background: #e91e63;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}

.footer_col ul li{
    margin-bottom: 20px;
}

.footer_col ul li a{
    text-decoration: none;
    color: #6d6d6d;
    cursor: pointer;
}

.footer_col .social img{
    width: 20px;
    margin: 5px;
}
.footr_col{
    width: 25%;
    padding:  15px;
  
}
.footer{
     background: #202122;
     padding: 50px;

     
     
 }
 
 .footer .main{
     max-width: 100%;
     height: 150px;
     position: absolute;

    

 }
 
 ul{
     list-style: none;
 }
 
 .row{
     display: flex;
     flex-wrap: wrap;
 }
 section texts h1{
    position: absolute;
    top: 10%;
    left: 4%;
    font-size: 100px;
    color: #6a6666;
}

section texts h1 span{
    color: #4bb1eb;
}



.footer .main {
  flex: 1 0 auto; 
   max-width: 1170px;
  margin: auto;
}

footer {
margin-top: auto;
margin-bottom: auto;
position: sticky;
top: 100%;
padding: 50px;
}
html {
    height: 100%;

}

body {
 min-height: 100vh;
 display: flex;
 flex: collum;
 display: flex; 
 flex-direction: column; 
}


html{
height: 100%;
}
.iphone{
    align-items: center;
    width: 100%;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box cards_card {
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4), -2px -2px 4px rgba(255, 255, 255, 0.4);
  }
  h1{
    size: 60px;
  }

  .about{
    width: 100%;
    height: 80vh;
    padding: 0px;
}

.about .box{
    width: 100%;
    padding: 60px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about .box .card{
    width: 170px;
    height: auto;
    padding: 5px 10px;
    margin: 0 15px;
    background: gainsboro;
    border: 1px solid gainsboro;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
}

.about .box .card:hover{
    box-shadow: 3px 5px 20px rgba(0,0,0,0.3);
    transform: scale(1.1);
    border-radius: 5px;
}

.about .box .card img{
    width: 150px;
}

.about hr{
    height: 2px;
    background: #d98ca5;
    border-radius: 5px;
    margin: 30px 110px;
}

.about .Cards h1{
    font-size: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}

.about .Cards p{
    text-align: center;
    margin: 35px 0;
    color: gray;
    font-size: 25px;
}

.about .cards_box{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.about .cards_box .cards_card{
    background: #9d9d9d;
    width: 350px;
    padding: 25px 25px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}

.about .cards_box .cards_card:hover{
    box-shadow: 5px 5px 5px rgba(0,0,0,0.6);
}

.about .Cards .cards_box img{
    width: 250px;
    cursor: pointer;
    transition: 0.3s;
}

.about .Cards .cards_box img:hover{
    transform: scale(1.1);
}

.about .cards_box .cards_card h1{
    font-size: 35px;
    color: gainsboro;
    margin: 15px 0;
}

.about .cards_box .cards_card p{
    color: white;
    margin: 25px 0;
    font-size: 17px;
}

.about .cards_box .cards_card .btn{
    text-decoration: none;
    color: white;
    padding: 10px 30px;
    background: #f9004d;
}
.about .cards_box .cards_card {
    background: #0b0b0b;
    width: 350px;
    padding: 25px 25px;
    text-align: center;
    border-radius: 10px;
    transition: 0.3s;
}
.texts p{
    font-size: 20px;
    
} 